<header
  class="bg-slate-100 dark:bg-slate-700/10 border-b border-slate-300 dark:border-slate-800 py-5 px-5 md:px-12"
>
  <nav cdkMenuBar class="flex gap-3">
    <a
      cdkMenuItem
      class="px-5 py-2 rounded-xl hover:bg-slate-200 dark:hover:bg-slate-800 transition-colors font-semibold dark:text-white"
      [routerLink]="['/']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="bg-slate-300 hover:bg-slate-300 dark:bg-slate-700 dark:hover:bg-slate-700"
    >
      Calendar
    </a>
    <a
      cdkMenuItem
      class="px-5 py-2 rounded-xl hover:bg-slate-200 dark:hover:bg-slate-800 transition-colors font-semibold dark:text-white"
      [routerLink]="['/standings']"
      routerLinkActive="bg-slate-300 hover:bg-slate-300 dark:bg-slate-700 dark:hover:bg-slate-700"
    >
      Standings
    </a>
  </nav>
</header>
<main class="p-5 md:p-12 text-black dark:text-white">
  <router-outlet></router-outlet>
</main>
